#drum-machine{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: aquamarine;
  height: 100vh;
}
#container{
  background-color: white;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  width: 342px;
  border-radius: 5px;
}
#display{
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: #d2f3e8;
    text-align: center;
}